{{ define "main" }}

	{{ partial "banner" site.Data.banner }}
	{{ partial "spotlight" site.Data.schilderij1_anna_bloemen }}
	{{ partial "spotlight" site.Data.schilderij2_tom_verzinsel }}
	{{ partial "spotlight" site.Data.schilderij3_anna_kat }}
	{{ partial "spotlight" site.Data.schilderij4_tom_bos }}
	{{ partial "spotlight" site.Data.schilderij5_anna_hartjes }}
	{{ partial "spotlight" site.Data.schilderij6_tom_cheetah }}
	{{ partial "spotlight" site.Data.schilderij7_anna_regenboog }}
	{{ partial "spotlight" site.Data.schilderij8_tom_duinen }}
	{{ partial "spotlight" site.Data.schilderij9_tom_vissen }}



{{ end }}